# config/strategies_example.yaml
# Конфигурация стратегий для батч-бэктеста

- name: RR_10_20
  type: RR
  params:
    tp_pct: 10         # Take-profit в %
    sl_pct: 1         # Stop-loss в %
    max_minutes: 42000 # Максимальная длительность сделки (30 дней)

- name: RRD_25_10_20
  type: RRD
  params:
    drawdown_entry_pct: 25
    tp_pct: 20
    sl_pct: 10
    max_minutes: 42000

- name: test-rr
  type: RR
  params:
    rr: 2.0                  # Коэффициент TP/SL, если используется
    sl_pct: 0.05
    timeout_minutes: 240     # Устаревший параметр, можно убрать
    max_minutes: 42000
